@use "../utilities/functions" as *;
.hero {
  display: flex;
  align-items: center;
  &__info {
    //display: flex;
    //justify-content: flex-start;
    display: inline-block;
    color: #193e6c;
    background-color: #e7f6ff;
    font-size: rem(14);
    border-radius: rem(50);
    padding: rem(10) rem(10);
    font-weight: 500;
    font-family: "Plus Jakarta Sans";
    span {
      color: #fff;
      background-color: #094b72;
      margin-right: rem(10);
      border-radius: rem(50);
      padding: rem(5) rem(30);
    }
  }
  &__title {
    font-family: "Playfair Display";
    font-size: rem(90);
    color: #094b72;
    font-weight: lighter;
    letter-spacing: 0.5px;
  }
  &__paragraph {
    font-family: "Plus Jakarta Sans";
    font-size: rem(24);
    font-weight: 500;
    line-height: 158%;
    color: #4f4f4f;
    width: 75%;
  }
}
