@use "../utilities/functions" as *;
.nav {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: rem(20);
  margin-bottom: rem(20);

  &__actions {
    font-size: rem(12);
    text-transform: uppercase;

    &--middle {
      margin-left: rem(40);
    }
    a {
      text-decoration: none;
      color: black;
      .lupa {
        width: rem(30);
      }
    }
    &--search {
      margin-left: auto;
    }
  }
  &__logotext {
    font-weight: 600;
    font-size: rem(20);
    margin-right: auto;
    text-transform: capitalize;
  }
  &__logo {
    margin-right: rem(10);
  }
}
.heading {
  max-width: rem(1110);
  margin: 0 auto;
}
.hero {
  display: flex;
}
