@use "../utilities/functions" as *;
.hero {
  display: flex;
  align-items: center;
  &__info {
    //display: flex;
    //justify-content: flex-start;
    display: inline-block;
    color: #193e6c;
    background-color: #e7f6ff;
    font-size: rem(14);
    border-radius: rem(50);
    padding: rem(10) rem(10);
    font-weight: 500;
    font-family: "Plus Jakarta Sans";
    span {
      color: #fff;
      background-color: #094b72;
      margin-right: rem(10);
      border-radius: rem(50);
      padding: rem(5) rem(30);
    }
  }
}
